
* {
  font-family: 'Secular One', sans-serif;
}
body {
  text-align: center;
    padding: 25px;
    background-color: rgb(1, 1, 3);
    color:  lavender;
    font-size: 25px;
}
  #button {
    background-color: rgb(112, 25, 13);
  }
  #jumbo {
    background-color: rgb(43, 43, 43);
    color: lightcyan;
  }
  #timer {
    position: fixed;
    right: 2;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    background-color: lightsalmon;
  }
  